<div class="footer">
    <div class="footer-banner">
        <div class="banner">
            <h1>SpeccUp</h1>
            <p>SpeccUp © 2021</p>
        </div>
        <div class="links">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
    </div>
    <div class="legal">
        <div>
            <p>Home</p>
            <p>About us</p>
            <p>Contact us</p>
            <p>Disclaimer</p>
            <p>Privacy Policy</p>
            <p>Sitemap</p>
        </div>
    </div>
</div>